////////////////////// FOOTER //////////////////////////
.footer-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    border-top: 1px solid #9A9A9A;
    figure {
        margin: 0 auto;
    }
    &-logo{
        display: block;
        margin-top: 2rem;
        width: 35%;
        margin-bottom: 1rem;
        margin-left: 12rem;
        ///// media query ///////
        @include respond(small-phone) {
            margin-left: 7rem;
        }
        @include respond(smallest-phone) {
            margin-left: 6rem;
        }
    }
    &-social{
        width: 35%;
        margin-bottom: 2rem;
        margin-left: 12rem;
        ///// media query ///////
        @include respond(small-phone) {
            margin-left: 7rem;
        }
        @include respond(smallest-phone) {
            margin-left: 6rem;
        }

    }

    .copyright{
        width: 60%;
        margin: 1rem auto;
        font-family: sans-serif;
        text-align: center;
        font-size: 10px;
        line-height: 20px;
        color: #8b8d91;
        ///// media query ///////
        @include respond(small-phone) {
            width: 80%;
        }
        @include respond(smallest-phone) {
            width: 100%;
        }

    }
}