// MEDIA QUERIES MANAGER
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800] is where our normal styles applies
1800px and plus: Big desktop;
*/

/*
$breakpoint argument choices:
- phone
- tab-port // tablet portrait
- tab-land // tablet landscape
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/

@mixin respond ($breakpoint) {
	@if $breakpoint==smallest-phone {
		@media (max-width: 375px) { 
			@content; //allows us to pass a block of code to the mixin
		} 
	}
	@if $breakpoint==small-phone {
		@media (max-width: 420px) { 
			@content; //allows us to pass a block of code to the mixin
		} 
	}
	@if $breakpoint==phone {
		@media (max-width: 600px) { 
			@content; //allows us to pass a block of code to the mixin
		} 
	}
	@if $breakpoint==tab-port {
		@media (max-width: 900px) { 
			@content; 
		} 
	}
	@if $breakpoint==tab-land {
		@media (max-width: 1200px) { 
			@content;
		} 
	}
	@if $breakpoint==big-desktop {
		@media (min-width: 1800px) { 
			@content;
		} 
	}
}
